@import "../../assets/styles/variables";
@import "../../assets/styles/flex";
@import "../../assets/styles/sudo";

.landing {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;

    &__left {
        @include flex(column, center, center, $spacer2x);
        position: relative;
        color: $white;
        height: 100vh;
        background-color: $dark;
        padding-left: $spacer2x;

        & > * {
            z-index: 1;
        }

        &::before {
            @include sudo-fill("", absolute, 0, 0, 0, -50%);
            background: $landingPageGradient no-repeat bottom left;
            background-size: cover;
        }

        .row {

            .text-box {
                .title {
                    font-weight: 500;
                    font-size: $font-size-20;
                    margin-top: $spacer14;
                }
                p {
                    color: $lightVariant1;
                    opacity: 0.7;
                    font-size: $font-size-12;
                    margin-top: $spacer;
                }
            }

            &--title {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: flex-start;
                justify-items: center;
                column-gap: $spacer125;
            }

            &--product {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: $spacer2x;
                padding-right: $spacer2x;

                img {
                    width: 100%;
                    border-radius: $border-radius-sm;
                }

                .text-box {
                    text-align: end;
                }
            }
        }
    }
    &__right {
        @include flex(column, center, center, 0);
        background-color: $white;
        z-index: 2;
        height: 100vh;
        box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
        
        &__wrapper {
            @include flex(column, flex-start, center, $spacer2x);
            max-width: 365px;
            .title {
                color: $light;
                font-size: $font-size-32;
                font-weight: 500;
                text-align: start;
            }
            
            div {
                width: 100%;
                .input {
                    padding: $spacer125;
                    width: 100%;
    
                    &--error {
                        color: $danger;
                        visibility: hidden;
    
                        &.show {
                            visibility: visible;
                        }
                    }
                }
            }
            
            .button {
                cursor: pointer;
                color: $white;
                background: $dark;
                border: 0;
                border-radius: $border-radius-sm;
                padding: $spacer125 $spacer;
                width: 100%;
                font-weight: 600;
                transition: $transition-base;

                &:hover {
                    background: lighten($color: $dark, $amount: 10);
                }

                &:disabled {
                    cursor: not-allowed;
                    background: lighten($color: $dark, $amount: 50);
                }
            }
    
            .tagline {
                font-weight: 600;
            }   
        }
    }

    @media screen and (min-width: 769px) {
        grid-template-columns: repeat(2, 1fr);

        &__left {
            align-items: flex-start;
            justify-content: flex-start;
            padding-top: $spacer5x;
            padding-left: $spacer4x;
            height: 100%;
            .row {
                .text-box {
                    .title {
                        font-size: $font-size-32;
                    }
                    p {
                        font-size: $font-size-base;
                    }
                }

                &--title {
                    column-gap: $spacer4x;
                }
                &--product {
                    padding-right: $spacer4x;
                }
            }
        }

        &__right {
            height: 100%;
        }
    }
}
