@import "../../assets/styles/variables";
@import "../../assets/styles/sudo";
@import "../../assets/styles/flex";

.slider {
    @include flex(row !important, center, flex-start, 0);
    position: relative;
    justify-self: baseline;
    overflow-x: auto;
    max-width: 100%;
    max-height: 190px;

    &::before, &:after {
        @include sudo-fill("", absolute, 0, unset, 0, unset);
        background: linear-gradient(to right, $darkBlur 0%, transparent 100%);
        height: 100%;
        width: 15%;
        z-index: 2;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
        transform: rotateZ(180deg);
    }

    .slick {
        &-slide {
            transition: $transition-base;
            &:not(.slick-current) {
                opacity: 0.4;
            }
        }
    }
    .card {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "icon button" "title title" "footer footer";
        align-items: center;
        gap: $spacer14;
        color: $dark;
        overflow: hidden;
        padding: $spacer14;
        max-height: 190px !important;
        min-height: 190px !important;
        max-width: 200px !important;
        min-width: 200px !important;
        border-radius: $border-radius;
        background: $cardShadowVariantBackground;
        box-shadow: $cardShadowVariantBoxShadow;

        .icon {
            color: $dark;
            grid-area: icon;
        }
        .button {
            cursor: pointer;
            grid-area: button;
            background: transparent;
            padding: 0;
            font-size: $font-size-14;
            border: 0;
        }

        .title {
            grid-area: title;
            font-size: $font-size-14;
            font-weight: bold;
        }
        .footer {
            grid-area: footer;
            height: 100%;
        }
    }
}